.mobile-only-icon[data-visibility] {

    display: inline-block;
    vertical-align: bottom;

    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

    .mobile-only-icon[data-visibility="mobile"] { background-image: url(icon-mobile.svg); }
    .mobile-only-icon[data-visibility="desktop"] { background-image: url(icon-desktop.svg); }

.tl_content .cte_type .mobile-only { color: #333; }
